<h1></br>
    Add your Apiary to the list</h1>
<form action="/add" method="post">
    <label>
        Name of your Apiary:
        </br>
        <input type="text" placeholder="Name of your Apiary" name="name" minlength="3" maxlength="50" required>
    </label></br>
    <label>
        Date:
        </br>
        <input type="date" placeholder="{{this.date}}" name="date" value="{{this.date}}" readonly class="disabledInput">
    </label></br>
    <label>
        Your Apiary Number:
        </br>
        <input type="number" placeholder="{{this.number}}" name="number" value="{{this.number}}" minlength="5" maxlength="5" required>
    </label></br>
    <button type="submit">Add</button>
</form>
<hr>