<hr>
<p>And now time for an incredibly funny Bee joke</p>
<h3>Bring it on!</h3>
<h1>!HighHive!</h1>
<p><strong>Do you get it?</strong></p>
<p>High Hive, not High Five</p>
<em>It's Hive, as a bee house, not a five as your hand.</em></br></br>
<small>HaHa</small></br>
<tiny>hehe</tiny></br>
<smallest>huhu</smallest></br>
<smallest>...</smallest>