body{
    margin: 0;
    text-align: center;
    top: 0;
}
main{
    position: relative;
    margin: auto;
    text-align: center;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    padding: 5px 10px;
    margin: 5px;
    background: #c9ae25;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 0 0 10px black;
}
nav a:hover {
    background: #dabe36;
}

.disabledInput:hover {
    pointer-events: none;
}
th, td {
    padding: 15px;
    border: 1px solid black;
    margin: 0;
}
.wrapper {
    display: flex;
    justify-content: center;
}