body{
    margin: 0;
    text-align: center;
    top: 0;
    background-color: #eabe36;
}
main{
    position: relative;
    margin: auto;
    text-align: center;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    padding: 5px 10px;
    margin: 5px;
    background: #c9ae25;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 0 0 10px black;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 3px white;
}
nav a:hover {
    background: #dabe36;
}
.disabledInput:hover {
    pointer-events: none;
}
td {
    border: 1px solid black;
    padding: 0 15px;
}
th {
    border: 1px solid black;
}
table {
    border-spacing: 0;
    padding: 10px;
    margin: 0 auto;
}
thead{
    background-color: white;
}
tbody>tr:nth-child(2n+2){
    background-color: white;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.wrapper:first-child {
    flex: 0 1 100%;
}
small{
    font-size: 0.8rem;
}
tiny{
    font-size: 0.6rem;
}
smallest{
    font-size: 0.5rem;
}
#direct{
    display: block;
    width: 100%;
    background-color: #967b12;
    text-decoration: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 3px black;
}
.invisible{
    visibility: hidden;
    width: 0;
    height: 0;
    margin-top: -1rem;
}
input{
    background-color: #eabe36;
    color: black;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}
button {
    background-color: #967b12;
    color: white;
    text-shadow: 1px 1px 3px black;
}